.about {
	width: 80%;
	margin: 30px auto;
	height: 600px;
	background-color: #1e156e;
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.about-left {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #690ec9;
	border-radius: 0 30% 30% 0;
}

.about-left p {
	color: white;
}

.about-right {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 4rem;
	text-align: center;
	color: white;
}
.about-right h2 {
	letter-spacing: 0.3rem;
	margin-bottom: 3rem;
	font-size: 2.5rem;
}

.socials {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 2rem;
	gap: 2rem;
}
