nav {
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;

	font-family: 'Articulat CF', 'sans-serif';
}
nav .mobile-menu {
	display: none;
	height: 24px;
	width: 24px;
}
nav .mobile-menu button {
	background-color: transparent;
	outline: 0;
	border: 0;
}
.hamburger {
	color: #690ec9;
	width: 100%;
	height: 100%;
}
.logo-container {
	display: flex;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
}
.logo {
	height: 29px;
	width: 51px;
	margin-right: 15px;
}
.nav-item {
	text-decoration: none;
	color: #000;
	font-size: 18px;
	font-weight: normal;
	margin-left: 45px;
}

.nav-item .nav-contact {
	background-color: #690ec9;
	color: #fff;
	border: 0;
	outline: 0;
	font-size: 18px;
	padding: 10px 35px;
	border-radius: 5px;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.mobile {
		display: inline-block;
	}
	nav {
		flex-direction: row;
		justify-content: space-between;
		flex-shrink: 0;
		height: 68px;
		padding: 0 15px;
	}
	.logo {
		height: 100px;
		margin-right: 0;
	}
	nav .nav-items {
		display: none;
		position: absolute;
		top: 68px;
		left: 0;
		height: calc(100vh - 68px);
		width: 100vw;
		padding: 0;
		margin: 0;
		background-color: #690ec9;
		flex-direction: column;
		align-items: center;
		z-index: 999;
	}
	nav .mobile-menu {
		display: block;
	}
	nav .logo-container h2 {
		font-size: 1rem;
		letter-spacing: 0.1rem;
		color: #333;
	}
	nav .nav-items .nav-item {
		width: 90%;
		padding-top: 20px;
		display: flex;
		align-items: center;
		border-bottom: 2px solid #fff;
		margin: 0;
		font-size: 25px;
		color: #fff;
	}
}
